/* This ordering of CSS elements is for the traditional setting
   "box-sizing: content-box", which applies the "width:" and "height:"
   only to the innermost content of the box.  If you are using one of
   the other box model settings - Paul Irish recommends "box-model:
   border-box", for example - then simply move the "width:" and
   "height:" up above the "border:" property in the list below. */

#Concentric-CSS-Overview {
  display: ;    /* Directions about where and how the box is placed */
  position: ;
  float: ;
  clear: ;

  visibility: ; /* Next: can the box be seen? */
  opacity: ;
  z-index: ;

  margin: ;     /* Layers of the box model, from outside to inside */
  outline: ;
  border: ;
  background: ; /* (padding and content BOTH get the background color) */
  padding: ;

  width: ;      /* Content dimensions and scrollbars */
  height: ;
  overflow: ;

  color: ;      /* Textual content */
  text: ;
  font: ;
}

#Concentric-CSS-Complete {
  /* All CSS properties, in roughly the order I use when being careful */

  box-sizing: /* [content-box|border-box|inherit|initial|unset]*/ ;

  /* #1 */
  display: ;
  position: ;
  top: ;
  right: ;
  bottom: ;
  left: ;
  
  float: ;
  clear: ;

  /* #2 */
  align-content: ;
  align-items: ;
  align-self: ;
  
  /* #3 */
  flex: ;
  flex-basis: ;
  flex-direction: ;
  flex-flow: ;
  flex-grow: ;
  flex-shrink: ;
  flex-wrap: ;
  justify-content: ;

  /* #4 */
  order: ;


  /* #5 */
  columns: ;
  column-gap: ;
  column-fill: ;
  column-rule: ;
  column-rule-width: ;
  column-rule-style: ;
  column-rule-color: ;
  column-span: ;
  column-count: ;
  column-width: ;


  /* #6 */
  backface-visibility: ;
  perspective: ;
  perspective-origin: ; 
  transform: ;
  transform-origin: ;
  transform-style: ;


  /* #7 */
  transition: ;
  transition-delay: ;
  transition-duration: ;
  transition-property: ;
  transition-timing-function: ;

  /* #8 */
  visibility: ;
  opacity: ;
  z-index: ;

  /* #9 */
  margin: ;
  margin-top: ;
  margin-right: ;
  margin-bottom: ;
  margin-left: ;

  /* #10 */
  outline: ;
  outline-offset: ;
  outline-width: ;
  outline-style: ;
  outline-color: ;

  /* #11 */
  border: ;
  border-top: ;
  border-right: ;
  border-bottom: ;
  border-left: ;
  border-width: ;
  border-top-width: ;
  border-right-width: ;
  border-bottom-width: ;
  border-left-width: ;

  /* #12 */
  border-style: ;
  border-top-style: ;
  border-right-style: ;
  border-bottom-style: ;
  border-left-style: ;

  /* #13 */
  border-radius: ;
  border-top-left-radius: ;
  border-top-right-radius: ;
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;

  /* #14 */
  border-color: ;
  border-top-color: ;
  border-right-color: ;
  border-bottom-color: ;
  border-left-color: ;
  
  /* #15 */
  border-image: ;
  border-image-source: ;
  border-image-width: ;
  border-image-outset: ;
  border-image-repeat: ;
  border-image-slice: ;

  /* #16 */
  box-shadow: ;

  /* #17 */
  background: ;
  background-attachment: ;
  background-clip: ;
  background-color: ;
  background-image: ;
  background-origin: ;
  background-position: ;
  background-repeat: ;
  background-size: ;

  /* #18 */
  cursor: ;

  /* #19 */
  padding: ;
  padding-top: ;
  padding-right: ;
  padding-bottom: ;
  padding-left: ;

  /* #20 */
  width: ;
  min-width: ;
  max-width: ;

  /* #21 */
  height: ;
  min-height: ;
  max-height: ;

  /* #22 */
  overflow: ;
  overflow-x: ;
  overflow-y: ;
  resize: ;

  /* #22 */
  list-style: ;
  list-style-type: ;
  list-style-position: ;
  list-style-image: ;
  caption-side: ;

  /* #23 */
  table-layout: ;
  border-collapse: ;
  border-spacing: ;
  empty-cells: ;

  /* #24 */
  animation: ;  /* animation-[[name] [duration] [timing-function] [delay] [iteration-count] [direction] [fill-mode] [play-state]]*/ 
  animation-name: ;
  animation-duration: ;
  animation-timing-function: ;
  animation-delay: ;
  animation-iteration-count: ;
  animation-direction: ;
  animation-fill-mode: ;
  animation-play-state: ;

  /* #25 */
  vertical-align: ;

  /* #26 */
  direction: ;
  tab-size: ;
  text-align: ;
  text-align-last: ;
  text-justify: ;
  text-indent: ;
  text-transform: ;
  text-decoration: ;
  text-decoration-color: ;
  text-decoration-line: ;
  text-decoration-style: ;
  text-rendering: ;
  text-shadow: ;
  text-overflow: ;

  /* #27 */
  line-height: ;
  word-spacing: ;
  letter-spacing: ;
  white-space: ;
  word-break: ; 
  word-wrap: ;
  color: ;

  /* #28 */
  font: ;
  font-family: ;
  font-size: ;
  font-size-adjust: ;
  font-stretch: ;
  font-weight: ;
  font-smoothing: ;
  osx-font-smoothing: ;
  font-variant: ;
  font-style: ;

  /* #29 */
  content: ;
  quotes: ;
  
  /* #30 */
  counter-reset: ;
  counter-increment: ;

  /* #31 */
  page-break-before: ;  /* [NOTE]: to be changed for <tt>break-[before|after]</tt>; */
  page-break-after: ;
  page-break-inside: ;

}
